
.footer {
    background-color:$color-blue-dark;

  .background-goback {
    padding: 2rem;
    width: 100%;
    background-color: $color-primary;
    text-align: right;
  }

  .btn-goback {
    text-decoration: none;
    font-size: 1.8rem;
    color: $color-white;
    text-transform: uppercase;
    font-weight: bold;
    text-align: right;
  }

  .copyright {
    padding: 2rem;
    display: flex;
    justify-content: center;

    .footer-logo {
      display: none;
       
        @include devices(tablet-portrait){
     
          margin-right: 5rem;
        }

        @include devices(tablet-landspace){
          display: inline-block;
          margin-right: 8rem;
        }
    }
      
    .footer-paragraph {
        color: $color-white;
        font-size: 1.4rem;
        width: 600px;
        align-self: center;
    }
  }
}
 
  


 
  
