.articles {
  display: grid;
  grid-gap: 2rem;
  margin-top: 6rem;

  .articles-title {
    color: $color-primary;
  }

  .drawings-title {
    color: $color-secondary;
  }

  @include devices(tablet-portrait) {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  @include devices(tablet-landspace) {
    margin-bottom: 15rem;
  }
}
