.carousel {
  margin-top: 15rem;
  margin-bottom: 9rem;
  width: 100%;

  @include devices(tablet-landspace) {
    margin-top: 6rem;
  }
}

.carousel-viewport {
  width: 100%;
  max-height: 430px;
}



.carousel-slide {
  position: relative;

  img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: bottom;
  }
}



.slide-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  height: 3rem;
  background-color: rgba(52, 151, 219, 0.8);
  margin-bottom: 4rem;
  width: 250px;

  .slide-title {
    font-size: 1.5rem;
    color: $color-white;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
  }

  @include devices(tablet-portrait){
    margin-bottom: 1rem;
  }
}

.slide-info {
  position: absolute;
  bottom: -5rem;
  left: 0;


  @media only screen and (min-width: 441px) {
    bottom: -3rem;
  }

  @include devices(tablet-portrait){
    bottom: 3rem;
    margin: 0 2rem;
  }
}

.slide-description {
  font-size: 2rem;
  font-weight: bold;


  p:last-child {
    display: none;

    @include devices(tablet-portrait) {
      display: inline-block;
    }
  }
  @include devices(tablet-portrait) {
    color: $color-white;
    line-height: 2.5rem;
  }

}
